includes:
    - phpstan.base.neon

parameters:
    ignoreErrors:
        # php 8.1 code
        -
            message: "#^Function pspell_config_create is unsafe to use\\. It can return FALSE instead of throwing an exception\\. Please add 'use function Safe\\\\pspell_config_create;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
            count: 1
            path: src/Spellchecker/PHPPspell.php

        -
            message: "#^Function pspell_config_ignore is unsafe to use\\. It can return FALSE instead of throwing an exception\\. Please add 'use function Safe\\\\pspell_config_ignore;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
            count: 1
            path: src/Spellchecker/PHPPspell.php

        -
            message: "#^Function pspell_config_mode is unsafe to use\\. It can return FALSE instead of throwing an exception\\. Please add 'use function Safe\\\\pspell_config_mode;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
            count: 1
            path: src/Spellchecker/PHPPspell.php

        -
            message: "#^Function pspell_new_config is unsafe to use\\. It can return FALSE instead of throwing an exception\\. Please add 'use function Safe\\\\pspell_new_config;' at the beginning of the file to use the variant provided by the 'thecodingmachine/safe' library\\.$#"
            count: 1
            path: src/Spellchecker/PHPPspell.php

        -
            message: "#^Parameter \\#1 \\$conf of function pspell_config_ignore expects int, int\\|false given\\.$#"
            count: 1
            path: src/Spellchecker/PHPPspell.php

        -
            message: "#^Parameter \\#1 \\$conf of function pspell_config_mode expects int, int\\|false given\\.$#"
            count: 1
            path: src/Spellchecker/PHPPspell.php

        -
            message: "#^Parameter \\#1 \\$config of function pspell_new_config expects int, int\\|false given\\.$#"
            count: 1
            path: src/Spellchecker/PHPPspell.php

        -
            message: "#^Parameter \\#1 \\$pspell of function pspell_check expects int, int\\|false given\\.$#"
            count: 1
            path: src/Spellchecker/PHPPspell.php

        -
            message: "#^Parameter \\#1 \\$pspell of function pspell_suggest expects int, int\\|false given\\.$#"
            count: 1
            path: src/Spellchecker/PHPPspell.php

        # preg_match_all can be null in php >8
        -
            message: "#^Casting to int something that's already int\\.$#"
            count: 1
            path: src/Utils/LineAndOffset.php
