includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # symfony/process version testing
        -
            message: "#^Call to function method_exists\\(\\) with Symfony\\\\Component\\\\Process\\\\Process and 'inheritEnvironmentV…' will always evaluate to true#"
            path: %currentWorkingDirectory%/src/Utils/ProcessRunner.php

        # yeah OK Process is technically and iterable type...
        -
            message: "#no value type specified in iterable type Symfony\\\\Component\\\\Process\\\\Process#"
            path: %currentWorkingDirectory%
        # Missing strict comparison
        - '#^Construct empty\(\) is not allowed. Use more strict comparison.$#'
#        - '#^Only booleans are allowed in#'
