includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # Missing strict comparison
        - '#^Construct empty\(\) is not allowed. Use more strict comparison.$#'

        # function_exists call
        -
            message: "#^Class PhpSpellcheck\\\\t not found\\.$#"
            count: 1
            path: src/Text/functions.php

        -
            message: "#^Method PhpSpellcheck\\\\MisspellingHandler\\\\MisspellingHandlerInterface\\:\\:handle\\(\\) has no return type specified\\.$#"
            count: 1
            path: src/MisspellingHandler/MisspellingHandlerInterface.php

        -
            message: '#^Default value of the parameter \#2 \$flags \(0\) of function PhpSpellcheck\\json_encode\(\) is incompatible with type int\<1, max\>\.$#'
            identifier: parameter.defaultValue
            count: 1
            path: src/Utils/php-functions.php

        -
            message: '#^Parameter \#3 \$depth of function json_decode expects int\<1, max\>, int given\.$#'
            identifier: argument.type
            count: 1
            path: src/Utils/php-functions.php

        -
            message: '#^Parameter \#3 \$depth of function json_encode expects int\<1, max\>, int given\.$#'
            identifier: argument.type
            count: 1
            path: src/Utils/php-functions.php
