<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stderr="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnRisky="true"
         failOnWarning="true"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="-1"/>
    <env name="ISPELL_BINARY_PATH" value="ispell"/>
    <!-- Shell used to run ispell binary, mandatory for dictionaries listing -->
    <env name="ISPELL_SHELL_PATH" value=""/>
    <env name="ASPELL_BINARY_PATH" value="aspell"/>
    <env name="HUNSPELL_BINARY_PATH" value="hunspell"/>
    <env name="LANGUAGETOOLS_ENDPOINT" value="http://languagetools:8010"/>
    <env name="JAMSPELL_ENDPOINT" value="http://jamspell:8080"/>
  </php>
  <testsuites>
    <testsuite name="PHPSpellCheck test suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
